<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        <h1>Spell Checker</h1>
        {{>header}}

{{ContactTitle}}

<h2>Help Support</h2>
        {{contactText}}

<h2>For more Information</h2>
        <p>For any questions or concerns, Please react out to <a>Jemishkheni@gmail.com</a></p>
    </div>

   
    {{>footer}}


</body>
</html>